*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    line-height: 1.3em;
}

header{
    background-color: #fff;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.section-title h2{
    font-size: 48px;
    line-height: 1.3;
    text-transform: capitalize;
}

.section-title p{
    font-size: 16px;
    line-height: 24px;
}

button{
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #30B868;
    color: #fff;
    padding: 12px 16px;
    cursor: pointer;
}
.secondary{
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #30b86900;
    color: #fff;
    padding: 12px 16px;
    cursor: pointer;
}
nav{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
}

header nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

header nav ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

#hero{
    background-image: url("./assets/hero-bg.png");
    background-color: #00193100;
    text-align: center;

}

#hero h3{
    font-size: 16px;
    padding: 8px 16px;
    background-color: #fff;
    color: #30B868;
    border-radius: 20px;
}

#hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 100px 0;
    

}

#hero .container h1{
    font-size: 72px;
    line-height: 84px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}
#hero .container h1 span{
    color: #30B868;

}
#hero .container p{
    width: 60%;
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    margin-top: 10px;

}

#hero .btn-container{
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

#features{
    background-color: aliceblue;
}
#features .container{
    padding: 80px 0px;
}
.features{
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.features-card{
    padding: 64px 32px;
    background-color: #fff;
    border-radius: 16px;
}

.features-card .icon{
    display: inline-block;
    font-size: 24px;
    padding: 10px;
    border-radius: 30px;
    background-color: #F95555;
    margin-bottom: 20px;
    color: #fff;
    aspect-ratio: 1;
    align-content: center;
}

.features-card h3{
    font-size: 24px;
    line-height: 1.3em;
    color: #000;
    margin-bottom: 10px;
}
#knowledge{
    padding: 80px 0;
    text-align: left;
}
#knowledge .container{
    display: flex;
    gap: 60px;
    align-items: center;
}

.knowledge-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#knowledge h3{
    color: #30B868;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}


.knowledge-content,
.icon-list{
    text-align: left;
}

.icon-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}
.icon-list i{
    font-size: 16px;
    color: #30B868;
}
.icon-list h4{
    font-size: 16px;
}
#cta .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: aliceblue;
    border-radius: 16px;
    padding: 80px;
    margin-bottom: 80px;
}

#cta h5{
    font-size: 16px;
    color: #555;
}

footer{
    background-color: #001931;
}

footer .footer-main{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

footer .footer-main h5{
    font-size: 16px;
    color: #fff;
}

footer .footer-main {
    font-size: 16px;
    color: #fff;
}

footer .social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
    color: #fff;
}


.social-icons{
    display: flex;
    gap: 16px;
}

.social-icons i{
    font-size: 20px;
    color: #fff;
}

.footer-credit{
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ffffff30;
}

.footer-credit p{
    color: #fff;
}